@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.hero {
  background: url("../assets/Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}
.hero .logo {
  width: 150px;
}
.business-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-label-content {
  background-color: #22222200;
  max-width: 300px;
  min-width: 300px;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 30px;
  margin-top: 20px;
  border-radius: 4px;
  letter-spacing: 2px;
  border: 1px solid #6e6e6e69;
  backdrop-filter: blur(5px);
  font-family: "Inter", sans-serif;
}
.business-label-content span {
  background-color: black;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 12px;
}
.business-label .date {
  padding: 5px 15px;
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: "Instrument Sans", sans-serif;
  max-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 2px;
  margin-top: -8px;
  z-index: 100;
  font-weight: 700;
}
.hero-heading {
  font-size: 44px;
  font-weight: 600;
  margin-top: 32px;
  text-align: center;
}

.hero-heading span {
  color: var(--text-secondary);
}
.hero-para {
  font-size: 16px;
  margin-top: 28px;
  text-align: center;
  max-width: 680px;
  text-transform: capitalize;
}
.hero-button {
  background-color: var(--secondary-color);
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 13px 32px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  max-width: 240px;
  width: 100%;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--hover-color);
}
.hero-button:hover {
  background-color: var(--hover-color);
  opacity: 0.8;
}
.hero-footer {
  font-size: 14px;
  margin-top: 28px;
  color: var(--text-secondary);
}
.portfolio-section {
  padding-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.portfolio-number {
  font-size: 62px;
  background: -webkit-linear-gradient(
    var(--gradient-b-color),
    var(--gradient-t-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio-heading {
  font-size: 28px;
  font-weight: 500;
  margin-top: 12px;
}
.portfolio-heading span {
  color: var(--text-secondary);
}
.portfolio-content p {
  font-size: 14px;
  margin-top: 12px;
  color: var(--text-secondary);
  max-width: 305px;
  margin-bottom: 36px;
}
.portfolio-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: max-content;
  transition: 0.3s ease-in;
}
.portfolio-btn:hover {
  opacity: 70%;
}
.portfolio-btn img {
  filter: invert(1);
  height: 16px;
  width: 16px;
  margin-top: 2px;
}
.tag {
  padding: 12px 14px;
  background-color: var(--tag-bg-color);
  border-radius: 6px;
  text-align: center;
  max-width: 122px;
  min-width: 122px;
  max-height: 44px;
  position: relative;
  font-size: 15px;
}
.tag-lg {
  max-width: 192px;
  white-space: nowrap;
}
.portfolio-video {
  max-width: 420px;
  width: 100%;
  height: 250px;
  background-color: var(--video-bg);
  border-radius: 10px;
  position: relative;
  outline: 4px solid var(--card-color);
  overflow: hidden;
}
.portfolio-video .border-line {
  height: 100%;
  width: 1px;
  left: -10px;
  background: linear-gradient(
    to top,
    var(--tag-bg-color),
    #fff,
    var(--tag-bg-color)
  );
}
.play-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--play-border);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-icon {
  background-color: var(--play-btn-color);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.play-icon .fa-play {
  color: #fff;
  font-size: 12px;
}
.companies-number {
  padding-top: 150px;
}
.companies-number-content {
  display: flex;
  gap: 28px;
  margin-right: 20px;
}

.companies-number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-right: 1px solid var(--border-color);
  padding-right: 32px;
}
.companies-number-item h4 {
  font-size: 42px;
  font-weight: 700;
  color: var(--text-color);
}
.companies-number-item h4 span {
  color: var(--text-secondary);
}
.companies-number-item p {
  font-size: 14px;
  color: var(--text-secondary);
  text-align: center;
}
.no-border {
  border: none;
}
.invest-section {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 32px;
}

.content-area {
  flex: 1;
}
.content-area h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 28px;
  color: var(--text-color);
}
.content-area h4 span {
  color: var(--text-secondary);
}
.content-area .tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 335px;
  gap: 16px;
}
.content-area p {
  margin-top: 28px;
  color: var(--text-secondary);
  font-size: 14px;
}
.image-area {
  flex: 1;
  margin-left: 140px;
  position: relative;
}
.image-area .chart {
  width: 330px;
  height: 330px;
}
.glowing-effect {
  position: absolute;
  top: -280px;
  left: -450px;
  height: 150vh;
  max-width: 1000px;
}
.business-portfolio {
  padding-top: 150px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header .tag {
  max-width: 75px;
  min-width: 75px;
  height: 40px;
  margin-bottom: 16px;
  font-size: 14px;
}
.header h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.header h4 span {
  color: var(--text-secondary);
}
.header p {
  color: var(--text-secondary);
  font-size: 14px;
}
.business-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  row-gap: 36px;
  margin-top: 44px;
  position: relative;
  margin-left: 20px;
}

.business-card-content {
  background-color: var(--card-color);
  border: 1px solid #333;
  max-width: 300px;
  height: 200px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-card p {
  margin-top: 8px;
}
.border-line {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to left,
    var(--tag-bg-color),
    #fff,
    var(--tag-bg-color)
  );
  opacity: 50%;
  max-width: 200px;
  width: 100%;
  height: 1px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.left-border-line {
  background: linear-gradient(
    to top,
    var(--tag-bg-color),
    #fff,
    var(--tag-bg-color)
  );
  width: 1.5px;
  height: 100%;
  left: 0;
}
.right-border-line {
  background: linear-gradient(
    to top,
    var(--tag-bg-color),
    #fff,
    var(--tag-bg-color)
  );
  width: 1.5px;
  height: 100%;
  right: 0;
  left: 100%;
}
.light-image {
  position: absolute;
  top: 50%;
}
.light-image img {
  max-width: 300px;
  min-width: 300px;
  width: 100%;
}
.right-light-image {
  left: 0;
}

.left-light-image {
  right: 0;
}
.faqs-section {
  padding-top: 150px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .faqs-section {
    padding-top: 120px;
  }
  .faq-content .question {
    font-size: 16px !important;
  }
  .faq-content .answer {
    font-size: 12px !important;
  }
}
.faqs {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq {
  background-color: var(--faq-bg-color);
  border: 1px solid var(--faq-border-color);
  border-radius: 12px;
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  gap: 16px;
}
.faq-content {
  width: 80%;
}
.faq-content .question {
  font-weight: 500;
  font-size: 16px;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.expand-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #929395;
  cursor: pointer;
}
.expand-btn.rotated {
  transform: rotate(180deg);
}
.expand-btn:hover {
  opacity: 70%;
}
.expand-btn img {
  margin-top: 1px;
}
.footer {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 200px 24px 40px;
}
.footer img {
  opacity: 50%;
}
.copy-right {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 6px;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-icon {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--social-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.social-icon:hover {
  opacity: 70%;
}

@media screen and (max-width: 600px) {
  .hero-heading {
    font-size: 32px;
    padding: 16px;
  }
  .hero-para {
    font-size: 14px;
    padding: 0 24px;
  }
  .portfolio-section {
    flex-direction: column;
    padding-top: 120px;
  }
  .portfolio-video .border-line {
    top: 0;
    height: 1px !important;
    width: 100% !important;
    left: 50% !important;
    background: linear-gradient(
      to left,
      var(--tag-bg-color),
      #fff,
      var(--tag-bg-color)
    ) !important;
  }
  .companies-number {
    padding-top: 120px;
  }
  .companies-number-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 0;
  }
  .companies-number-item {
    border-right: 0 !important;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
  }
  .invest-section {
    padding-top: 120px;
    flex-direction: column;
    margin-left: 0;
  }
  .content-area {
    width: 100%;
  }
  .content-area .tags {
    max-width: 500px !important;
  }
  .image-area {
    margin-left: 0 !important;
  }
  .business-portfolio {
    padding-top: 120px;
  }
  .business-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .card-2 {
    order: 2;
  }
  .card-6 {
    order: 6;
  }
  .card-5 .business-card-content .border-line {
    left: 100%;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(
      to top,
      var(--tag-bg-color),
      #fff,
      var(--tag-bg-color)
    );
  }
  .card-2 .business-card-content .border-line {
    left: 0;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(
      to top,
      var(--tag-bg-color),
      #fff,
      var(--tag-bg-color)
    );
  }
  .light-image {
    display: none;
  }
  .copy-right {
    text-align: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1000px) {
  .light-image img {
    display: none;
  }
}
